html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  line-height: normal;
}

:root {
  -my_variable: 25px;
}

.alert-dismiss-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
}

.typewriter {
  font-family:
    'American Typewriter',
    'MODERN TYPEWRITER',
    'Courier',
    'Courier New',
    monospace;
  letter-spacing: .08em;
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: pink;
  }
}

.hoverable-button {
  transition: color smooth 1s
}

.hoverable-button:hover {
  background-color: gray;
  color: white;
}